<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>页面不见了呢</title>
        <link href="../../webapp/static/css/errorPage/errorPage.css" rel="stylesheet" type="text/css" th:href="@{/static/css/errorPage/errorPage.css}"/>
        <script src="../../webapp/static/js/errorPage/jquery-1.7.2.min.js" th:src="@{/static/js/errorPage/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript">
            $(function() {
                var h = $(window).height();
                $('body').height(h);
                $('.mianBox').height(h);
                centerWindow(".tipInfo");
            });
            function centerWindow(a) {
                center(a);
                $(window).bind('scroll resize',
                        function() {
                            center(a);
                        });
            }
            function center(a) {
                var wWidth = $(window).width();
                var wHeight = $(window).height();
                var boxWidth = $(a).width();
                var boxHeight = $(a).height();
                var scrollTop = $(window).scrollTop();
                var scrollLeft = $(window).scrollLeft();
                var top = scrollTop + (wHeight - boxHeight) / 2;
                var left = scrollLeft + (wWidth - boxWidth) / 2;
                $(a).css({
                    "top": top,
                    "left": left
                });
            }
        </script>
    </head>
    <body>
        <div class="mianBox">
            <img src="images/yun1.png" alt="" class="yun3" th:src="@{/static/img/errorPage/yun1.png}"/>
            <img src="images/yun0.png" alt="" class="yun yun0" th:src="@{/static/img/errorPage/yun0.png}" />
            <img src="images/yun1.png" alt="" class="yun yun1" th:src="@{/static/img/errorPage/yun1.png}"/>
            <img src="images/yun2.png" alt="" class="yun yun2" th:src="@{/static/img/errorPage/yun2.png}"/>
            <img src="images/bird.png" alt="" class="bird" th:src="@{/static/img/errorPage/bird.png}"/>
            <img src="images/san.png" alt="" class="san" th:src="@{/static/img/errorPage/san.png}"/>
            <div class="tipInfo">
                <div class="in">
                    <div class="textThis">
                        <h2 th:text="${title}">:( 页面君不见了呢</h2>
                        <p>"程序猿"正在努力修复呢 Σ(☉▽☉")</p>
                        <p>你可以检查来源链接是否正确</p>
                        <p>或者重新刷新界面</p>
                        <p>点击回到<a id="href" href="跳转的界面">首页</a></p>
                        <hr/>
						<p class="context" th:text="${context}">
                            今天去接小外甥放学,他被老师骂了,原因是他经常藏小女孩的东西,
                            小女孩找不到了就找他,他来给人家算一卦就找到了,搞的那些小姑娘天天围在他身后打转,我发现我小时候跟他比我就是个渣渣!
                        </p>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<!--<script type="text/javascript">                            (function() {-->
<!--var wait = document.getElementById('wait'), href = document.getElementById('href').href;-->
<!--var interval = setInterval(function() {-->
<!--var time = &#45;&#45;wait.innerHTML;-->
<!--if (time <= 0) {-->
<!--location.href = href;-->
<!--clearInterval(interval);-->
<!--}-->
<!--;-->
<!--}, 1000);-->
<!--})();-->
<!--</script>-->