<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>激活邮件</title>
</head>
<style type="text/css">
    *{font-family: 宋体;font-size: 15px;}
    .title{font-size: 20px;font-weight: bold;text-align: left;margin-bottom: 40px ;color: #00ccff}
    .warn{color: #9ea2b1;}
</style>
<body>
<p class="title">尊敬的OBOOM用户：</p>

欢迎使用OBOOM提供的数据服务！ 请点击以下的链接验证您的邮箱，验证成功后就可以使用OBOOM提供的所有服务了。<br>
<span id="url"></span><br>
(如果不能打开页面，请复制该地址到浏览器打开)<br>
<p style="text-align: right;">
    OBOOM<br>
    <span id="time"></span>
</p>
<p class="warn">
    温馨提示：<br>
    1. OBOOM官方网址为：<a href="https://www.oboom.top">https://www.oboom.top</a>，请注意网址，防止钓鱼。<br>
    2. 本邮件为系统自动发出，请勿回复。
</p>
</body>
</html>